/* NAVBAR */

.navbar {
    margin-left: 30px;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 24, 24, 0.6);
    border-radius: 25px;
}
/* Work link */
.work-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.work-link:hover {
    opacity: 1;
}

.work-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50px;
}

.work-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.work-link-ltr:hover::before {
    width: 100%;
}

/* About link */
.about-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.about-link:hover {
    opacity: 1;
}

.about-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50px;
}

.about-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.about-link-ltr:hover::before {
    width: 100%;
}

/* Contact link */
.contact-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.contact-link:hover {
    opacity: 1;
}

.contact-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50px;
}

.contact-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.contact-link-ltr:hover::before {
    width: 100%;
}

/* Projects in workContent */
.burnify {
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.scoreHop {
    background-color: rgba(122, 122, 122, 0.562);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.github {
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.burnify img {
    width: 80%;
    height: auto;
}

.scoreHop img {
    width: 80%;
    height: auto;
}

.devicon-github-plain-wordmark.colored {
    font-size: 50px;
}

.icons {
    font-size: 60px;
}

.contactIcons {
    font-size: 60px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.description {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    letter-spacing: .5px;
    font-family: 'Economica', sans-serif;
}

/* About */

.profile {
    background-image: url('public/profileimage.jpg');
    background-size: cover;
    border-radius: 50%;
    background-position: 80% 0%;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.profile img {
    width: 80%;
    height: auto;
}

/* Tab slide upward */

.closeContent {
    position: fixed;
    width: 90%;
    z-index: 10000;
    text-align: center;
    height: 575px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

.closeContent2 {
    position: fixed;
    width: 90%;
    z-index: 10000;
    text-align: center;
    height: 575px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

.closeContent3 {
    position: fixed;
    width: 48%;
    z-index: 10000;
    text-align: center;
    height: 420px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

.workContent {
    position: fixed;
    width: 90%;
    z-index: 10000;
    text-align: center;
    overflow: scroll;
    height: 550px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgba(24, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

.aboutContent {
    position: fixed;
    width: 90%;
    z-index: 10000;
    text-align: center;
    overflow-y: auto;
    height: 550px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgba(24, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

.contactContent {
    position: fixed;
    width: 45%;
    z-index: 10000;
    text-align: center;
    overflow: scroll;
    height: 400px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgb(24, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -800px;
}

/* JS class functions */
.slide-up {
    bottom: 0px !important;
}

.slide-down {
    bottom: -800px !important;
}

@media (max-width: 380px) {
    .aboutContent, .workContent {
        height: 320px;
    }
} 

@media (max-width: 380px) {
    .closeContent, .closeContent2 {
        height: 345px;
    }
}

@media (max-width: 400px) {
    .aboutContent, .workContent {
        height: 500px;
    }
} 

@media (max-width: 400px) {
    .closeContent, .closeContent2 {
        height: 525px;
    }
} 